<html>
<head>
    <title>Verify Emial</title>
   <script src="https://kit.fontawesome.com/770bfd2114.js" crossorigin="anonymous"></script>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
   <style>
    img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 10%;
  aspect-ratio: 3/0.8;
}

#emailBody {
  margin: auto;
  width: 70%;
  text-align: center;
  background-color: #97bf0d;
  color: white;
  font-family: 'Oswald' !important ;
}

h1 {
  font-size: xx-large;
  font-weight: 1500;
  align-items: center;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
}

h3,
h5,
p {
  font-size: large;
  align-items: center;
  text-align: center;
  margin: auto;
}
strong{
  text-transform: uppercase;
}
#linkButton {
  margin:auto;
  width: auto;
    padding: 15px;
  background-color: white;
  color: #97bf0d;
  height: 45px;
  border-radius: 12px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
}
#paddingDiv{
  padding: 20px;
}

/* Responsive styling for different screen sizes */

/* Mobile screens */
@media (max-width: 600px) {
  #emailBody {
      width: 100%;
      height: auto;
  }
  img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 13%;
  aspect-ratio: 3/0.8;
}

  h1 {
      font-size: x-large;
  }

  h3,
  h5,
  p {
      font-size: large;
  }

  #linkButton {
      width: auto;
      padding: 10px;
  }
}

/* Tablet screens */
@media (min-width: 601px) and (max-width: 1024px) {
  #emailBody {
      width: 95%;
  }
  img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 15%;
  aspect-ratio: 3/0.8;
}

  h1 {
      font-size: x-large;
  }

  h3,
  h5,
  p {
      font-size: large;
  }

  #linkButton {
      width: auto;
      padding: 10px;
  }
}

</style>
</head>
<body>

    <div id="emailBody">
        <div id="paddingDiv">
        <br/>
        <br/>
       <br/>
        <h1><u>HERZLICH WILLKOMEN</u></h1>
        <br/>
        <br/>
       <br/>
        <h3>Hallo, {{lastName}}!</h3>
        <br/>
        <h5>
            Willkommen zu der CustomerApp 
        </h5>
        <br/>
        <br/>
       <br/>
        <p>
            Bitte bestätigen Sie ihre E-Mail, um die Registrierung abzuschließen.
        </p>
        <br/>
        <br/>
       <br/>
        
            <a href="https://{{process.env.VUE_APP_HOST}}/#/verify/{{token}}">
            <button id="linkButton">Überprüfen!</button>
            </a>
           
            <br/>
            <br/>
            <br/>
            <div id="logo">
                <img  src="https://i.ibb.co/G7Q84BB/Logo-wei.png"/>
            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</body>
</html>